{% extends 'ecomerce_site/base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}


{% block css %}
    <link href="{% static 'ecomerce_site/css/about.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="main">
        <img src="{% static 'ecomerce_site/images/main_image_opacity.png'%}" alt="">
    </div>

    <div class="about_page_content">
        <h1 class='title'>A Siren's Song</h1>
        
        <hr class="style-four">

        <p class='description'>
            Welcome to Smash Sirens – a fierce and empowering Jiu Jitsu group exclusively for women who are ready to unleash their inner strength and conquer any challenge that comes their way. We believe in the power of women and their ability to be as tough, resilient, and skilled as any warrior out there.
                <br>
                <br>
            Just like the mythical sirens of ancient folklore, our members possess a captivating and formidable presence on the mats. In Greek mythology, sirens were known for their enchanting voices that lured sailors to their doom. However, what many forget is that sirens were not just all beauty and allure – they were also depicted as strong and fearless beings who commanded respect and awe.
            <br>
            <br>
            At Smash Sirens, we embody the spirit of these legendary creatures, combining grace and power to become unstoppable forces in the world of Jiu Jitsu. We train relentlessly, pushing our limits and breaking barriers, all while celebrating the unique strengths and abilities that each woman brings to the group.
            <br>
            <br>
            Our mission is to create a supportive and empowering community where women can come together to learn, grow, and excel in the art of Jiu Jitsu. Whether you are a seasoned practitioner or a complete beginner, our experienced instructors and dedicated members will help you build confidence, improve your skills, and discover the warrior within.
            <br>
            <br>
            Join us at Smash Sirens and experience the thrill of mastering a martial art that not only challenges your body but also empowers your mind. Together, we will shatter stereotypes, break boundaries, and show the world just how tough and unstoppable women can truly be. 
            <br>
            <br>
            <i><b>Embrace your strength, embrace your power – become a Smash Siren today.</i></b>
    </div>
{% endblock %}


{% block js %}
{% endblock %}
