{% extends 'ecomerce_site/base.html' %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}


{% block css %}
    <link href="{% static 'ecomerce_site/css/blog.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="blog">
    <h1>Blog</h1>
    {% for post in blog %}
        <div class="blog_post">
            <img src="{{post.image_2.url}}" alt="{{post.name}}">  
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}

</div>

{% endblock %}


{% block js %}
{% endblock %}
