{% extends 'ecomerce_site/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block css %}
    <link href="{% static 'ecomerce_site/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="main" >
        <h1>
            Forge Unbreakable Bonds on the
            <span class="colored">
                Jiu Jitsu
            </span>
            Journey.
        </h1>

        <p>
            We are a jiu-jitsu clothing brand, empowers women both on and off the mats.
        </p>

        <img src="{% static 'ecomerce_site/images/mermaid_opacity_blend.png' %}" alt="">
    </div>

    <div class="showcase">
        <div class="topic">
 
            <h1>
                <span class="colored">
                    Embrace
                </span>
                the Journey
            </h1>
            <h2>
                Our Products
            </h2>
            <p>
               We offer products to represent the power of wemon on and off the matts. From everyday wear to training gear, we have you covered.
            </p>

            <a href="{% url 'merch' %}" class="button-28" role="button">Find Gear</a>

        </div>

        <div class="topic">
            <div class="topic">

                <h1>
                    <span class="colored">
                        Embrace
                    </span>
                    your sisters
                </h1>
                <h2>
                    Everyone has a story. What's yours?
                </h2>
                <p>
                   Jiu Jitsu is more than a sport, it's a community. We are here to support you on your journey and we want to hear your story.
                </p>
                <a href="{% url 'merch' %}" class="button-28" role="button">Stories</a>
            </div>
        </div>

        <!--<img src="{% static 'ecomerce_site/images/temp_opacity.png' %}" alt="">-->
    </div>

    <div class="blurb">
        <h2>
            Our Mission
        </h2>
        <p>
            Every purchase supports women at local gyms, creating a community where empowerment is not just a concept, but a reality. Reach out to us an tell us your story!
        </p>
    </div>

{% endblock %}


{% block js %}
{% endblock %}
