@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
header {
  position: fixed;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #232323;
  display: flex;
  align-items: center;
  z-index: 200;
}
header .logo {
  min-width: fit-content;
  padding-left: 2%;
  font-size: 4rem;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  color: rgb(196, 196, 196);
  letter-spacing: 10px;
  text-wrap: nowrap;
}
header nav {
  width: 100%;
  height: 100%;
  padding-right: 2%;
}
header nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5%;
}
header nav ul li a {
  font-size: 2rem;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  color: rgb(196, 196, 196);
  text-decoration: none;
}

footer {
  width: 100%;
  height: auto;
  padding: 0%;
  padding-bottom: 5%;
  margin: 0%;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .deep_water {
  width: 20%;
  height: auto;
  padding-bottom: 3%;
}
footer .footer_icons {
  width: 20%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_icons .facebook_icon {
  width: auto;
  height: 100%;
  fill: red;
}
footer .footer_icons .instagram_icon {
  width: auto;
  height: 100%;
  fill: red;
}
footer .footer_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
footer .footer_content a {
  font-size: 2rem;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  color: rgb(196, 196, 196);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  min-height: 100vh;
}

body {
  width: 100vw;
  min-height: 100vh;
}
body .colored {
  color: rgb(230, 29, 123);
}

.store_header {
  width: 100%;
  height: 52vh;
  background-color: #232323;
  position: relative;
  overflow: hidden;
  padding-top: 12vh;
}
.store_header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store_title {
  width: 100%;
  height: 10vh;
  padding-top: 10%;
  padding-bottom: 5%;
  background-color: #232323;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/merch.jpg);
}
.store_title h1 {
  color: rgb(196, 196, 196);
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 3.6rem;
  text-align: center;
  padding-top: 20px;
}

.store {
  width: 100%;
  min-height: 100vh;
  padding-top: 12vh;
  background-color: #232323;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows: 80vh;
  gap: 30px;
}
.store .item {
  grid-column: span 1;
  grid-row: span 1;
  overflow-x: hidden;
}
.store .item img {
  width: 100%;
  height: auto;
}
.store .item .item-info {
  color: rgb(196, 196, 196);
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  text-align: center;
  padding-top: 20px;
}
.store .item .item-info h2 {
  font-size: 2.4rem;
  color: rgb(230, 29, 123);
  font-weight: normal;
}
.store .item .item-info p {
  font-size: 1.8rem;
  text-align: center;
}

/*# sourceMappingURL=merch.css.map */
