@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$font_color_dark: #333;
$font_color_medium: #666;
$font_color_light: rgb(196, 196, 196);
$font_color_accent:rgb(230, 29, 123);

$bg_color_dark: #232323;
$bg_color_medium: #666;
$bg_color_light: #fff;
$fg_color_dark: #333;
$fg_color_medium: #666;
$fg_color_light: #fff;

$logo_font_style: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
$header_font_style: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
$title_font_style: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
$main_font_style: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;


